*{
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-full{
    width: 100%;
    height: 60vh;
    object-fit:cover;

}
span{
    color: rgb(235, 81, 81);
}
.intro{
    padding: 50px 150px;
    text-align: center;
}
.intro>img{
    margin: 30px;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    box-shadow: -5px 5px 5px 5px rebeccapurple;
}